.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.product h3 {
  margin: 0;
}

.product p {
  margin: 5px 0;
}

.product button {
  background-color: #6d6969;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  background-color: #6d6969;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
