.bouteilles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #eae5e1;
  border-radius: 10px;
  padding: 20px;
}

.bouteille-item {
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #d4c7be;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.bouteille-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.bouteille-item p {
  color: #545445;
  margin: 5px 0;
}

.bouteille-item p:first-child {
  color: #995c41;
  font-size: 18px;
  margin-top: 10px;
}

.bouteille-item p:nth-child(2) {
  color: #be7046;
  font-size: 14px;
}

.bouteille-item p:nth-child(3) {
  color: #8f8923;
}

.bouteille-item p:last-child {
  color: #995c41;
  font-size: 14px;
  margin-bottom: 10px;
}

.bouteille-item button {
  background-color: #995c41;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.bouteille-item button:hover {
  background-color: #d8bfb2;
}
